.container{

  margin-top: 20px !important;
}
h2,h5{
color: #BB2D3B !important;
}
.card-body{
background-color: #ffffff;
color:#BB2D3B !important ;
margin-top: 10px;
}

.modal-content {
  background-color: #ffffff !important;
  /* color:rgb(219, 175, 44) !important ; */
}
body{
  background-color:white !important;
}

.navbar{
  display: flex;
  padding: 10px;
  background-color: #FF6F61 !important;

}